/*header*/
.logo {
    width: 15%;
    margin-right: 2%;
    /* margin-bottom: 2%; */
    margin-top: -3%;
}

.navbar-default .navbar-header .navbar-brand {
	color: #fff;
	font-weight: lighter;
}

.navbar-default.affix .navbar-header .navbar-brand{
	color: #716F6F;
	font-weight: lighter;
}

header {
	background: grey;
}

header .header-content .header-content-inner h1 {
	/*font-family: 'Raleway';*/
	font-weight: lighter;
	font-size: 80px !important;
	color: white;
}

header .header-content .header-content-inner p{
	font-weight: normal;
	font-size: 25px;
	text-align: left;
	color: white;
}

.header-btn {
  border: solid white 2px;
  /*background: rgba(0, 0, 0, 0.52);*/
  background: transparent;
  color: #fff;
}

.header-btn:hover{
	background: transparent;
	border: solid #012A68 2px;
	color: white;
}

.container-fluid{
    margin-bottom: 0.7%;
}

/*img.amy {
	width: 60%;
	margin-bottom: 2%;
}*/

.btn {
    border-radius: 5px;
}


/* section finasafe*/

.finasafe {
	background-image: url("../img/blockchain.png");
	background-position: 40%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 80%;
	color: white;
}

.finasafe-header {
	font-weight: 100;
	margin-top: 1.5%;
	margin-bottom: 20%;
}

/* section tpscrt */

.tpscrt{
	background-image: url("../img/tpscrt.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 80%;
}

.tpscrt-btn {
	border: solid #012A68 2px;
	color: #012A68;
	background: transparent;
	margin-top: 50%;
}

/* section PS */
.ps{
	background: #EE3135;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 80%;
	color: white; 
}

.ps-btn {
	border: solid white 2px;
	color: white;
	background: transparent;
	margin-top: 6%;
}

.ps-image {
	  margin-top: -4%;
    width: 30%;
}

.chrome{
	width: 20%;
	margin-right: 2%;
	margin-top: 2%;
}

.firefox{
	width: 15%;
	margin-top: 2.5%;
}

/* Section Privacy Shell */

.pshell{
	background: #fc580c;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 80%;
	color: white; 
}

.pshell-logo {
	width: 50%;
}

img.pshell-image {
    width: 30%;
}

/* Section D3js  */

.D3js{
	background-image: url("../img/d3js.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 80%; 
}

.d3-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 500%;
	color: white;
	margin-bottom: 15%;
}


/* Section travelphotos */

.travelphotos {
	background: #99CED3;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 80%; 
	padding-top: 0;
	color: white;
}

.travel-img {
	width: 120%;
	margin-left: -10%;
}

/*SKILLS SECTION HEADING*/
.section-heading{
	text-align: center;
}

/* SWATCHBOOK SKILLS*/
.sb-container {
	position: relative;
	width: 150px;
	height: 400px;
	margin: 30px auto 0 auto;
}

.sb-container div {
    position: absolute;
	top: 0;
	left: 0; 
	width: 130px;
	background: #fff;
	height: 400px;
	border-radius: 5px;
	cursor: pointer;
	text-align: left;
	background-image: url(../images/fabric.png);
	transform-origin: 25% 90%;
	backface-visibility: hidden;
}

.sb-container div:nth-child(1){
	background-color: #ea2a29;
	box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 1px 1px 1px rgba(0,0,0,0.1);
}
.sb-container div:nth-child(2){
	background-color: #f16729;
	box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 2px 2px 1px rgba(0,0,0,0.1);
}
.sb-container div:nth-child(3){
	background-color: #f89322;
	box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 3px 3px 2px rgba(0,0,0,0.2);
}
.sb-container div:nth-child(4){
	background-color: #ffcf14;
	box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 4px 4px 4px rgba(0,0,0,0.2);
}
.sb-container div:nth-child(5){
	background-color: #ffea0d;
	box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 5px 5px 6px rgba(0,0,0,0.3);
}
.sb-container div:nth-child(6){
	background-color: #87b11d;
	box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 6px 6px 8px rgba(0,0,0,0.3);
}
.sb-container div:nth-child(7){
	background-color: #008253;
	box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 7px 7px 10px rgba(0,0,0,0.4);
}
.sb-container div:nth-child(8){
	background-color: #3277b5;
	box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 8px 8px 12px rgba(0,0,0,0.4);
}
.sb-container div:nth-child(9){
	background-color: #4c549f;
	box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 9px 9px 14px rgba(0,0,0,0.4);
}
.sb-container div:nth-child(10){
	background-color: #764394;
	box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 10px 10px 16px rgba(0,0,0,0.4);
}
.sb-container div:nth-child(11){
	background-color: #ca0d86;
	box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 11px 11px 18px rgba(0,0,0,0.4);
}

.sb-container div:last-child{
	background: #645b5c url(../images/cover.jpg) repeat center center;
	box-shadow: 
		-1px -1px 3px rgba(0,0,0,0.2),
		12px 12px 20px rgba(0,0,0,0.6),
		inset 2px 2px 0 rgba(255, 255, 255, 0.1);
}

.sb-container div:last-child:after{
	content: '';
	position: absolute;
	bottom: 15px;
	left: 15px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #dddddd;
	background: linear-gradient(135deg, #dddddd 0%,#58535e 48%,#889396 100%);
	box-shadow: -1px -1px 1px rgba(0,0,0,0.5), 1px 1px 1px rgba(255,255,255,0.1);
}

.sb-container div h4{
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	border-top: 1px dashed rgba(0,0,0,0.1);
	border-bottom: 1px dashed rgba(0,0,0,0.1);
	margin: 5px;
	padding: 5px;
	user-select: none;
}
.sb-container div:last-child h4{
	background: rgba(0,0,0,0.2);
	box-shadow: 0 1px 1px rgba(255,255,255,0.1);
}

.sb-container div h5 {
    font-size: 40px;
    white-space: nowrap;
    text-align: left;
    margin: 0;
    padding: 0;
    position: absolute;
    line-height: 10px;
    top: 0px;
    left: 0px;
    color: #111;
    text-shadow: -1px -1px 1px rgba(255,255,255,0.1);
    /*text-transform: uppercase;*/
    transform: rotate(-90deg) translateX(-113%) translateY(20px);
    transform-origin: 0 0;
    user-select: none;
}

.sb-container div:nth-child(-n+6) h5 {
    transform: rotate(90deg) translateX(11%) translateY(-35px) !important;
}

/* extra skills*/
.skillIcon{
	width: 110px;
}

.thumbnail {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-size: 18px;
    padding-top: 5%;
    /*border: none;*/
    text-align: center;
}

.thumbnail li {
	/*margin-left: 20%;*/
}

.thumbnail li:first-child {
	margin-top: 5%;
}

/* Section Footer */

.section-heading a {
	color: white;
}

#contact {
	background: rgb(255, 87, 0);
}

/***** FINASAFE PAGE ******/

header.finasafe-top {
	background-image: url('../img/blockchain.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	margin-top: 0;
	color: white;
}

h2.fin-title{
	font-size: 60px !important;
	margin-bottom: 30%;
	font-weight: lighter;
}

.about-finasafe {
	height: 40%;
	background: #003653;
	color: white;
	padding: 0;
}

.fin-image {
	-moz-box-shadow: 0 0 100px #888;
	-webkit-box-shadow: 0 0 100px #888;
	box-shadow: 0px 0px 100px #888;
}

.email-integration {
	margin-top: 600%;
}

.finasafe-video {
	margin: 5%;
}

.block-video {
	margin-top: 10%;
}

.pshellFinasafe {
	width: 20%;
}

/* TOPSECRET PAGE */

header.topsecret-top {
	background-image: url('../img/ts.png');
	background-repeat: no-repeat;
	background-position: 40%;
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
  -o-background-size: cover;*/
  background-size: 100%;
  background-color: #E3E3E3;
	margin-top: 0;
	color: white;
}

.about-ts {
	height: 40%;
	background: rgb(17, 19, 86);
	color: white;
	padding: 0;
}

.ts-video {
	margin-left: 10%;
}


/* PS PAGE */
.ps-top {
	background-image: url('../img/project/ps_large.png');
	background-repeat: no-repeat;
	background-position: center;
/*	-webkit-background-size: cover;
	-moz-background-size: cover;
  -o-background-size: cover;*/
  background-size: 70%;
  background-color: #EE3135;
	margin-top: 0;
	color: white;
}

.about-ps {
	height: 40%;
	background: rgb(169, 170, 174);
	color: white;
	padding: 0;
}

.ps-ex {
	width: 100%;
}

/* ex-update*/

.ex-update {
	/*height: 30%;*/
	background-color: red;
	color: white;
}

.ps-form {
	width: 100%;
	margin-left: 10%;
}

.ux-payment {
	margin-left: 10%;
	/*margin-bottom: 5%;*/
}

/* D3JS PAGE */
.d3-top{
	background-image: url('../img/d3jsback.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	/*margin-top: 0;*/
	color: white;
}

.about-d3 {
	background-color: rgb(147, 147, 162);
	color: white;
}

.d3-page {
	color: grey;
	margin-top: 65%;
}


/*@media (min-width: 1300px;){
	.exp-block{
		display: block !important;
	}
}

@media (max-width: 1000px;){
	.exp-block{
		display: none !important;
	}
}
*/
